# Database
MONGODB_URI=mongodb://localhost:27017/bookverse

# Server
PORT=5000
NODE_ENV=development

# JWT
JWT_SECRET=bookverse_super_secret_jwt_key_2024_very_secure_and_long_key_for_production_use_only
JWT_EXPIRE=7d

# CORS
FRONTEND_URL=http://localhost:8000
BACKEND_URL=http://localhost:5000

#GOOGLE LOGIN
GOOGLE_CLIENT_ID=601825279443-cirutlg6eojl085sj73m9eckudced3eg.apps.googleusercontent.com
JWT_SECRET=1d2cc4c1657f669819254d22e5c0056320445e26b42c3ebc2af6ef855e4b8faae422e1990276857f123229a4d280300b3a9f3abb44893559a0ba7a984e666e94
# Email (for future use)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=bookverce.contact@gmail.com
EMAIL_PASS=yklq jxvs xhwh mhia

# File Upload
MAX_FILE_SIZE=5242880
UPLOAD_PATH=uploads/

# Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100

# SePay Configuration
SEPAY_WEBHOOK_TOKEN=your_webhook_api_key_here
SEPAY_MATCH_PATTERN=SE
SEPAY_UNIT_ID=SP-LIVE-NT562B23

# VietQR Configuration (Required for SePay - tạo QR code từ tài khoản ngân hàng)
VIETQR_BANK_BIN=970415
VIETQR_BANK_NUMBER=your_bank_account_number
VIETQR_ACCOUNT_NAME=BOOKVERSE

